<style>
    .team-table {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }

    .participant-row {
        white-space: nowrap;
    }

    .participant-cell {
        padding-right: 40px;
    }

    .header-cell {
        font-weight: bold;
    }

    /* Define the height of the empty row */
    .empty-row {
        height: 20px; /* Adjust the height as needed */
    }

    .lose {
        background-color: #FF9999; /* Slightly darker shade of red */
    }

    /* Define background color for winning participants */
    .win {
        background-color: #CCCCFF; /* Light blue */
    }
</style>

<div class="team-table">
    <table>
        <tr>
            <td class="header-cell">Result</td>
            <td class="header-cell">Summoner Name</td>
            <td class="header-cell">Champion Name</td>
        </tr>
        @foreach (var match in Model)
        {
            @foreach (var participant in match.info.participants)
            {
                @if (participant.teamId == 100)
                {
                    <tr class="participant-row @(participant.win ? "win" : "lose")">
                        <td class="participant-cell">@(participant.win ? "Win" : "Lose")</td>
                        <td class="participant-cell">@participant.summonerName</td>
                        <td class="participant-cell">@participant.championName</td>
                    </tr>
                }
            }
            <!-- Add an empty row after each match -->
            <tr class="empty-row">
                <td colspan="3"></td>
            </tr>
        }
    </table>
</div>

<div class="team-table">
    <table>
        <tr>
            <td class="header-cell">Result</td>
            <td class="header-cell">Summoner Name</td>
            <td class="header-cell">Champion Name</td>
        </tr>
        @foreach (var match in Model)
        {
            @foreach (var participant in match.info.participants)
            {
                @if (participant.teamId != 100)
                {
                    <tr class="participant-row @(participant.win ? "win" : "lose")">
                        <td class="participant-cell">@(participant.win ? "Win" : "Lose")</td>
                        <td class="participant-cell">@participant.summonerName</td>
                        <td class="participant-cell">@participant.championName</td>
                    </tr>
                }
            }
            <!-- Add an empty row after each match -->
            <tr class="empty-row">
                <td colspan="3"></td>
            </tr>
        }
    </table>
</div>
